<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
</head>
<body>
    <h1 class="header">How to use?</h1>
    <p>
        Add required audio files to 'music' folder.<br>
        Refresh the webpage.<br>
        You can now listen to your favourite audio files.
    </p>
    <h3 class="header">Keyboard controls</h3>
    <p>
        Spacebar: Pause/Play<br>
        Right Arrow: Next Song<br>
        Left Arrow: Previous Song<br>
    </p>
    <a href="/" class="Go-To-Button">Go to Audio Player</a>

</body>
</html>